@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body{
    margin: 0;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
    width: fit-content;
}

#root{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: whitesmoke;
}
@media (max-width:767px) {
    #root{
        height: fit-content;
    }
}